body{
  font: 24px "century Gatholic", Futura, sans-serif;
  margin: 20px;
  color: orangered;
}
ol, ul{
  padding-left: 30px;

}
.board-row:after{
  clear: both;
  content: "";
  display: table;
}
.status{
  margin-bottom: 10px;
}
.square{
   background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   border: 4px solid #3b1c1c;
   border-radius: 5px;
   float: left;
   font-weight: bold;
   line-height: 80px;
   height: 80px;
   margin-right: -1px;
   padding: 0;
   text-align: center;
   width: 80px;
}
.square:focus{
  outline: none;
}
.kbd-navigation .square:focus{
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);

}
.game{
  display: flex;
}
.game-info{
  margin-left: 20px;
}